<table class="w-full">
  <tr>
    <td class="pt-5">
      <table>
        <tr> 
          <td class="w-[600px]"><x-image class="w-[600px]" imgUrl="Hero_Image.png" href="#"></td>
            <tr>
              <td class="pl-5 pr-5 text-[#005555] text-[24px] leading-7 pt-8 text-center font-bold">
                Excepteur sint occaecat cupidatat 
              </td>
            </tr>   
            <tr>
              <td class="text-[#444444] text-[17px] leading-5 py-5 px-9 text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              </td>
            </tr>
            <tr>
              <td class="pl-5 pr-5 pb-12 w-[350px] text-center" ><x-image class="w-[350px]" imgUrl="CTA.png" href="#"></td>            
          </tr>
        </tr>
      </table>
    </td>
  </tr>
</table>
