<table class="w-full bg-[#F0F5F5]">
    <tr>
      <td class="pt-5 px-5">
        <table class="w-full">
          <tr>
            <td class=" text-[#005555] text-[24px] text-center font-bold px-10 pb-8 pt-4 leading-[28px]">
              Sint cupidatat occaecat ut
            </td>
          </tr>
          <tr>
            <td class="pb-10">
              <table class="w-full text-center">
                <tr>
                  <td class="w-[48%] text-center bg-white pb-8 px-5 xs:w-full xs:inline-block">
                    <table class="w-full text-center">
                      <tr>
                        <td class="px-xs text-center pb-2 pt-7">
                          <x-image class="w-[100px]" imgUrl="Icon.png" href="#" />
                        </td>
                      </tr>
                      <tr>
                        <td class="text-lg text-[#005555] font-bold text-center pt-2 leading-5">
                          Nisi ut ade
                        </td>
                      </tr>
                      <tr>
                        <td class="text-base text-center text-[#444444] pt-4 leading-5">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td class="w-[4%] text-[#005555] xs:w-full xs:inline-block sm:pt-3">&nbsp;</td>
                  <td class="w-[48%] text-center bg-white pb-8 px-5 xs:w-full xs:inline-block">
                    <table class="w-full text-center">
                      <tr>
                        <td class="px-xs text-center pb-2 pt-7">
                          <x-image class="w-[100px]" imgUrl="Icon.png" href="#" />
                        </td>
                      </tr>
                      <tr>
                        <td class="text-lg text-[#005555] font-bold text-center pt-2 leading-5">
                          Duis aute irure
                        </td>
                      </tr>
                      <tr>
                        <td class="text-base text-center text-[#444444] pt-4 leading-5">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">2</span>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  